<a href="https://colab.research.google.com/github/munich-ml/MLPy2020/blob/master/18_object_oriented_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

## References

This tutorial is based on Corey Schafer's reference:
- Python OOP 1 - Classes and Instances - https://youtu.be/ZDa-Z5JzLYM
- Python OOP 2 - Class Variables - https://youtu.be/BJ-VvGyQxho
- Python OOP 3 - Classmethods and Staticmethods - https://youtu.be/rq8cL2XMM5M
- Python OOP 4 - Inheritance - https://youtu.be/RSl87lqOXDE
- Python OOP 5 - Special (Magic/Dunder) Methods - https://youtu.be/3ohzBxoFHAY
- Python OOP 6 - Property Decorators - https://youtu.be/jCzT9XFZ5bw

# Motivation for OOP

Bundle data (**attributes**) and functions (**methods**).

# A first simple class

The **class definition** included the blueprint for creating **instances**:

In [0]:
class Employee:
    pass

Let's create an **instance** of the **Employee class**

In [0]:
tim = Employee()
tim.first = "Tim"      # add the employee's first name
tim.last = "Cook"
tim.email = "Tim.Cook@email.com"

The **attributes** `first_name`, `last_name` and `email` are associated to the **instance** and can be accessed using `instance.attribute`:

In [3]:
tim.email

'Tim.Cook@email.com'

It is preferred to set instance attributes during instance creation in the `__init__` method

# A class with `__init__` method

- **Functions** defined within classes are called **methods**.
- When **methods** are called, they receive the **instance** itself as the first argument which is named `self` by convention.
- `__init__` is a special method or **dunder method** which is called upon object creation.

In [0]:
class Employee:
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

In [0]:
tim = Employee("Tim", "Cook", pay=50000)

In [6]:
tim.email

'Tim.Cook@email.com'

## Print description for the employee

In [7]:
print(tim)

<__main__.Employee object at 0x7f758b33ddd8>

In [8]:
s = tim.first + " " + tim.last + ", " + tim.email
s += ", " + str(tim.pay) + "€"
print(s)

Tim Cook, Tim.Cook@email.com, 50000€

Look's good, 

BUT for the next employee, the code has to be rewritten:

In [0]:
john = Employee("John", "Doe", pay=60000)

In [10]:
s = john.first + " " + john.last + ", " + john.email
s += ", " + str(john.pay) + "€"
print(s)

John Doe, John.Doe@email.com, 60000€

Thus, it's preferrable to put the functionality into the class definition

## A class with `__str__` method

The `__str__` method is executed when `str` is called on the instance.

In [0]:
class Employee:
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

Let's try the new `str` functionality:

In [12]:
tim = Employee("Tim", "Cook", pay=50000)
john = Employee("John", "Doe", pay=60000)
print(tim)
print(john)

Tim Cook, Tim.Cook@email.com, 50000€
John Doe, John.Doe@email.com, 60000€

### What is happening in the background

- `print` automatically executes `str` on the input(s), and
- `str` calls `__str__` on its input 

Therefore the following two commands yield the same result:

In [13]:
str(john)

'John Doe, John.Doe@email.com, 60000€'

In [14]:
john.__str__()

'John Doe, John.Doe@email.com, 60000€'

`__str__` can even be called from the class. But since there is no instance (no `self`), the instance has to be passed in manually.

In [15]:
Employee.__str__(john)

'John Doe, John.Doe@email.com, 60000€'

# Class variables

- **Instance variables**, (like `self.first`) store data that is unique to each instance.
- **Class variables** are shared among all instances of a class
- As an example we'll use the anual payment raise for the `Employee` class

In [0]:
class Employee:

    raise_factor = 1.04     # this is the new class variable

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

tim = Employee("Tim", "Cook", pay=50000)
john = Employee("John", "Doe", pay=60000)

The **class variable** can be accessed through the **class**:

In [17]:
Employee.raise_factor

1.04

The **class variable** can also be accessed through the **instance**:

In [18]:
tim.raise_factor

1.04

..this is possible, because Python falls back to the **class namespace** it the variable can't be found in the **instance namespace**.

The **namespaces** can be printed using `vars()`:

In [19]:
print("instance namespace:", vars(tim))
print("class namespace:   ", vars(Employee))

instance namespace: {'first': 'Tim', 'last': 'Cook', 'email': 'Tim.Cook@email.com', 'pay': 50000}
class namespace:    {'__module__': '__main__', 'raise_factor': 1.04, '__init__': <function Employee.__init__ at 0x7f758aad6d90>, '__str__': <function Employee.__str__ at 0x7f758aad6d08>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}

### Exercise - create `apply_raise` method

Create a new method `apply_raise` that applies the raise.
#### Solution

In [0]:
class Employee:

    raise_factor = 1.04    

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  # new method
        self.pay *= Employee.raise_factor

tim = Employee("Tim", "Cook", pay=50000)
john = Employee("John", "Doe", pay=60000)

Test the new method

In [21]:
print(john)
john.apply_raise()
print(john)

John Doe, John.Doe@email.com, 60000€
John Doe, John.Doe@email.com, 62400.0€

### Exercise - class variables

Keep track of the number of employees using a **class variable**
#### Solution

In [22]:
class Employee:

    raise_factor = 1.04    
    employee_count = 0           # new class variable

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        Employee.employee_count += 1

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor

tim = Employee("Tim", "Cook", pay=50000)
john = Employee("John", "Doe", pay=60000)
print("Number of employees: ", Employee.employee_count)

Number of employees:  2

# Class methods

- Recap: **(Regular) methods** are associated to the instance and receive the instance itself (usually named `self`) automatically as the first argument.
- The decorator **`@classmethod`** turns a **(regular) method** into a **class method**, associated to the class.
- **class methods** automatically receive the class as the first agrument, named `cls` by convention.

In [0]:
class Employee:

    raise_factor = 1.04    
    employee_count = 0           

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        Employee.employee_count += 1

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor

    @classmethod
    def set_raise_factor(cls, factor):      # new class method
        cls.raise_factor = factor

#tim = Employee("Tim", "Cook", pay=50000)
#john = Employee("John", "Doe", pay=60000)

In [24]:
print(Employee.raise_factor)
Employee.set_raise_factor(1.06)
print(Employee.raise_factor)

1.04
1.06

### Exercise - alternatice contructor

Add an *alternative constructor* `from_string` to the *Employee class* that expects semicolon seperated strings as input:

In [0]:
new_employees = ["Max;Kirn;45000",
                 "Lea;Parker;60000",
                 "Steve;Jobs;90000"]

#### Solution

In [0]:
class Employee:

    raise_factor = 1.04    
    employee_count = 0           

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        Employee.employee_count += 1

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor

    @classmethod
    def set_raise_factor(cls, factor):      # new class method
        cls.raise_factor = factor

    @classmethod
    def from_string(cls, employee_str):
        first, last, pay = employee_str.split(";")
        employee = cls(first, last, pay)
        return employee

#tim = Employee("Tim", "Cook", pay=50000)
#john = Employee("John", "Doe", pay=60000)

In [27]:
for employee_str in new_employees:
    employee = Employee.from_string(employee_str)
    print(Employee.employee_count, employee)

1 Max Kirn, Max.Kirn@email.com, 45000€
2 Lea Parker, Lea.Parker@email.com, 60000€
3 Steve Jobs, Steve.Jobs@email.com, 90000€

# Static methods

- **Static methods** are just like regular functions, except they are bundled to a class (because of some logic connection).
- The decorator **`@staticmethod`** turns a **(regular) method** into a **static method**.
- Generally, **static methods** are appropriate if the instance (`self`) or the class (`cls`) is not accessed within the method

### Exercise - `is_workday`

Add a static method `is_workday` to the Employee class that returns 'True' if the weekday is between Monday and Friday.

Hint: Use the `weekday` method of `datetime`:

In [28]:
import datetime as dt
date = dt.date.today()
date.weekday()

6

#### Solution

In [0]:
class Employee:

    raise_factor = 1.04    
    employee_count = 0           

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        Employee.employee_count += 1

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor

    @classmethod
    def set_raise_factor(cls, factor):      
        cls.raise_factor = factor

    @staticmethod
    def is_workday(date):          # new static method
        """Returns 'True' if the date is Montay..Friday, else 'False'""" 
        if date.weekday() < 5:
            return True
        return False

#tim = Employee("Tim", "Cook", pay=50000)
#john = Employee("John", "Doe", pay=60000)

Test the solution

In [30]:
date = dt.date(2020, 2, 28)
print(date)
Employee.is_workday(date)

2020-02-28

True

# Inheritance - creating subclasses

- **Subclasses** inherit properties from their **parent classes**
- **Subclasses** can also implement new functionality

Es an example, the Employee class should be subclassed into "*Developer*" and "*Manager*"

In [31]:
class Employee:

    raise_factor = 1.04             

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor


class Developer(Employee):     # new subclass 
    pass


tim = Developer("Tim", "Cook", pay=50000)    
john = Developer("John", "Doe", pay=60000)
print(tim)
print(john)

Tim Cook, Tim.Cook@email.com, 50000€
John Doe, John.Doe@email.com, 60000€

.. the **subclass `Developer`** inherited all the functionality from it's **parent `Employee`**

## `help(obj)` - method resolution order

`help(obj)` provides usefull info on **instances** and **classes**:
- **Method resolution order**, basically the *inheritance tree*
- where methods are defined
- attribute inheritance

In [32]:
help(tim)

Help on Developer in module __main__ object:

class Developer(Employee)
 |  Method resolution order:
 |      Developer
 |      Employee
 |      builtins.object
 |
 |  Methods inherited from Employee:
 |
 |  __init__(self, first, last, pay)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  apply_raise(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Employee:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from Employee:
 |
 |  raise_factor = 1.04

.. when `tim` was created `tim=Developer()`, Python went through the **Method resolution order**, didn't find an **`__init__` method** within the **Developer class**. It then coninued and executed **`Employee.__init__`**.

## Customize the subclass

- initiate the subclass with more arguments than the parent class can handle.
- therefore the subclass requires a new `__init__` method

In [0]:
class Employee:

    raise_factor = 1.04             

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor


class Developer(Employee):     
    
    def __init__(self, first, last, pay, prog_language):  # new method 
        super().__init__(first, last, pay)
        self.prog_language = prog_language

Test the new functionality:

In [34]:
tim = Developer("Tim", "Cook", 50000, "Python")    
john = Employee("John", "Doe", 60000)
print(tim)
print(john)

Tim Cook, Tim.Cook@email.com, 50000€
John Doe, John.Doe@email.com, 60000€

.. the test executes without errors. But the programming language is not within `Employee.__str__` method.

`vars` shows the new attribute:

In [35]:
vars(tim)

{'email': 'Tim.Cook@email.com',
 'first': 'Tim',
 'last': 'Cook',
 'pay': 50000,
 'prog_language': 'Python'}

In [36]:
vars(john)

{'email': 'John.Doe@email.com', 'first': 'John', 'last': 'Doe', 'pay': 60000}

## Add a second subclass

In [0]:
class Employee:

    raise_factor = 1.04             

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor


class Developer(Employee):     
    
    def __init__(self, first, last, pay, prog_language):   
        super().__init__(first, last, pay)
        self.prog_language = prog_language


class Manager(Employee):        # new subclass
    
    def __init__(self, first, last, pay, team=None):   
        super().__init__(first, last, pay)
        
        # never pass mutable datatypes (like lists) as default arguments
        if team is None:
            self.team = set()
        else:
            self.team = set(team)
        
    def add_to_team(self, employee):
        self.team.add(employee) 
            
    def remove_from_team(self, employee):
        # discard is like remove, but ignores KeyErrors
        self.team.discard(employee)         

    def print_team(self):
        s = str(self) + ", "
        if len(self.team) == 0:
            print(str(self) + ", no team")
        else:
            print(str(self) + ", team:")
            for member in self.team:
                print("- ", member)

Test the new functionality

In [38]:
tim = Developer("Tim", "Cook", 50000, "Python")    
john = Developer("John", "Doe", 60000, "Java")
mike = Manager("Mike", "Kirn", 80000, (tim, john))
mike.print_team()

Mike Kirn, Mike.Kirn@email.com, 80000€, team:
-  Tim Cook, Tim.Cook@email.com, 50000€
-  John Doe, John.Doe@email.com, 60000€

In [39]:
mike.remove_from_team(tim)
mike.print_team()

Mike Kirn, Mike.Kirn@email.com, 80000€, team:
-  John Doe, John.Doe@email.com, 60000€

### Exercise - custom `__str__` method

Move the `print_team` functionality to the `__str__` method of the subclass `Manager`.
#### Solution

In [0]:
class Employee:

    raise_factor = 1.04             

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor


class Developer(Employee):     
    
    def __init__(self, first, last, pay, prog_language):   
        super().__init__(first, last, pay)
        self.prog_language = prog_language


class Manager(Employee):        
    
    def __init__(self, first, last, pay, team=None):   
        super().__init__(first, last, pay)
        
        if team is None:
            self.team = set()
        else:
            self.team = set(team)
        
    def add_to_team(self, employee):
        self.team.add(employee) 
            
    def remove_from_team(self, employee):
        self.team.discard(employee)         

    def __str__(self):                       # new method
        s = super().__str__() 
        if len(self.team) == 0:
            s += ", no team"
        else:
            s += ", team:"
            for member in self.team:
                s += "\n- " + str(member)
        return s

Test the new method:

In [41]:
tim = Developer("Tim", "Cook", 50000, "Python")    
john = Developer("John", "Doe", 60000, "Java")
mike = Manager("Mike", "Kirn", 80000)
for employee in (tim, john):
    mike.add_to_team(employee)
    print(mike)

Mike Kirn, Mike.Kirn@email.com, 80000€, team:
- Tim Cook, Tim.Cook@email.com, 50000€
Mike Kirn, Mike.Kirn@email.com, 80000€, team:
- Tim Cook, Tim.Cook@email.com, 50000€
- John Doe, John.Doe@email.com, 60000€

## build-in functions `isinstance` and `issubclass`

In [42]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [43]:
isinstance(mike, Developer)

False

In [44]:
issubclass(Developer, Employee)

True

# Operator overloading

## **`+`** operator via `__add__` method

When adding 2 integers, Pyhton calls the `int.__add__()` method in the background.

In [45]:
5+7

12

In [46]:
int.__add__(5, 7)

12

When using the `+` operator on a string, the result is a concatanation of the two string. 

Thus, `int.__add__()` and `str.__add__()` implement different functionalities.

In [47]:
"Py" + "thon"

'Python'

In [48]:
str.__add__("Py", "thon")

'Python'

### Add `__add__` to the Employee class

In [0]:
class Employee:

    raise_factor = 1.04             

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor

    def __add__(self, other):
        return self.pay + other.pay

In [0]:
tim = Employee("Tim", "Cook", 50000)    
john = Employee("John", "Doe", 60000)

In [51]:
tim + john

110000

.. it may not make much sense to add two salleries, the the concept of operator overloading is demonstrated.

## overloading the build-in `len()`

In [52]:
numbers = [3, 45, 33, 9, 11]
len(numbers)

5

.. is the same as:

In [53]:
list.__len__(numbers)

5

### Exercise - custom `__len__` method

Implement a custom `__len__` method that returns the number of characters of the employee's email.
#### Solution

In [0]:
class Employee:

    raise_factor = 1.04             

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def __str__(self):
        s = self.first + " " + self.last + ", " + self.email
        s += ", " + str(self.pay) + "€"
        return s

    def apply_raise(self):                  
        self.pay *= Employee.raise_factor

    def __len__(self):
        return len(self.email)

In [0]:
tim = Employee("Tim", "Cook", 50000)    
john = Employee("John", "Doe", 60000)

In [56]:
for employee in (tim, john):
    print("{}, {} characters".format(employee, len(employee)))

Tim Cook, Tim.Cook@email.com, 50000€, 18 characters
John Doe, John.Doe@email.com, 60000€, 18 characters

## Comparison operators

In [58]:
tim >= john

TypeError: ignored

The special methods for comparisons in Python are the following:
- `__lt__` for `<`
- `__le__` for `<=`
- `__gt__` for `>`
- `__ge__` for `>=`
- `__eq__` for `==`
- `__ne__` for `!=`

Implementing those methods is also required for sorting:

In [60]:
sorted([tim, john])

TypeError: ignored